{block title}Home{/block}

{block content}
<div id="chat">
	<div class="media item-template">
		<a class="media-left" href="#"><img src="http://lorempixel.com/40/40/people/" alt="avatar"></a>
		<div class="media-body">
			<p>Media heading</p>
			<div class="meta">
				<span class="author">John</span> <time class="text-muted timeago" datetime="2014-11-01 12:35:12">2.11. 2015</time>
			</div>
		</div>
	</div>
</div>

{/block}
