{block title}Room{/block}

{block content}
<div id="chat">
	{foreach $messages as $m}
		<div class="media">
			<a class="media-left" href="#"><img src="http://lorempixel.com/40/40/people/" alt="avatar"></a>
			<div class="media-body">
				<p>{$m->title}</p>
				<div class="meta">
					<span class="author">John</span> <time class="text-muted timeago" datetime="2014-11-01 12:35:12">2.11. 2015</time>
				</div>
			</div>
		</div>
	{/foreach}
</div>

{/block}
