<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{ifset #title}{include title|striptags} | {/ifset}Anonymous Chat</title>

    <link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$basePath}/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/styles.css">
    <link rel="shortcut icon" href="{$basePath}/favicon.ico">
    {block head}{/block}
</head>

<body>
<script> document.documentElement.className+=' js' </script>
<div id="page-wrapper" class="active">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-main"><a href="#">Anonymous Chat<span class="menu-icon glyphicon glyphicon-transfer"></span></a></li>
            <li id="roomList" class="sidebar-title separator"><span>Chat Rooms</span></li>
            <li class="sidebar-list room item-template"><a href="{link room!, id => 1}"></a></li>
            <li class="sidebar-list"><a href="#">Dashboard</a></li>
            <li class="sidebar-list"><a href="#/tables">Tables <span class="menu-icon fa fa-table"></span></a></li>
            <li class="sidebar-list"><a href="#">Servers <span class="menu-icon fa fa-tasks"></span></a></li>
            <li class="sidebar-list"><a href="#">Settings <span class="menu-icon fa fa-cogs"></span></a></li>
        </ul>
        <div class="sidebar-footer">
            <div class="heading">New Room</div>
            <div class="col-xs-9"><input id="new-room-name" type="text" class="form-control"/></div>
            <div class="col-xs-3"><button id="new-room" type="button" class="btn btn-primary">OK</button></div>
        </div>
    </div>
    <div id="content-wrapper">
        <div class="page-content">
            <div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
                <div class="col-xs-12">
                    <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
                </div>
            </div>
            <div class="row input-block">
                <div class="col-xs-12">
                <div class="heading">your message</div>
                <form class="form-inline" role="form">
                  <input id="input" class="form-control" />
                  <button type="submit" class="btn btn-success">Send</button>
                </form>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-9 col-md-9 col-xs-9">
                    {include content}
                </div>
            </div>
        </div>
    </div>
</div>

{block scripts}
<script src="{$basePath}/js/jquery.js"></script>
<script src="{$basePath}/js/bootstrap.min.js"></script>
<script src="{$basePath}/js/netteForms.js"></script>
<script src="{$basePath}/js/main.js"></script>
{/block}

</body>
</html>
